.logout {
  background-color: rgb(238, 35, 62);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 8px 0px;
  font-size: 15px;
  cursor: pointer;
  width: 80px;
  text-align: center;
  letter-spacing: 1px;
}
.home {
  padding: 20px 0;
  display: flex;
  height: 150dvh;
}
.home-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
